<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ recipe.name }}</title>
    <style>
        body{
            background-image: url('https://img.freepik.com/free-photo/tasty-flexitarian-diet-frame_23-2148862684.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
    <h1>{{ recipe.name }}</h1>
    <h2>Ingredients</h2>
    <ul>
        {% for ingredient in recipe.ingredients %}
            <li>{{ ingredient }}</li>
        {% endfor %}
    </ul>
    <h2>Categories</h2>
    <ul>
        {% for category in recipe.categories.all %}
            <li>{{ category.name }}</li>
        {% endfor %}
    </ul>
</body>
</html>